<template>
    <div id="acronym">
        {{ acronym }}
    </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class Acronym extends Vue {
  get acronym () {
    let acronymLength = Math.floor(Math.random() * 4) + 3
    let acronym = ''
    let chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    let hardChars = 'XZ'
    for (let i = 0; i < acronymLength; i++) {
      let pass = false
      let curr = ''
      while (pass === false) {
        curr = chars.charAt(Math.floor(Math.random() * chars.length))
        if (hardChars.includes(curr)) {
          if (Math.random() > 0.5) {
            pass = true
          }
        } else {
          pass = true
        }
      }
      acronym += curr
    }
    return acronym
  }
}
</script>

<style scoped>
    #acronym {
        font-size: 15vw;
        text-align: center;
        margin: 25px;
    }
</style>
