<template>
  <div id="timer">
    <div id="seconds">
      <p>
        {{ timeLeft }}
      </p>
    </div>
    <div id="clock">
      <svg xmlns="http://www.w3.org/2000/svg">
        <circle id="circle" fill="none" stroke="black" cx="50%" cy="50%" r="47%" stroke-width="3%"
                :style="{'stroke-dashoffset': circleDashOffset, 'stroke-dasharray': circleDashArray}"/>
      </svg>
    </div>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator'

@Component
export default class Timer extends Vue {
  timeLeft = 60
  circleDashOffset = 0
  circleDashArray = 0

  created () {
    this.circleDashArray = Math.floor(window.innerWidth * 0.89)
    this.countdownTimer()
  }

  countdownTimer () {
    if (this.timeLeft > 0) {
      setTimeout(() => {
        this.timeLeft -= 1
        this.circleDashArray = Math.floor(window.innerWidth * 0.89)
        this.circleDashOffset = Math.floor((this.circleDashArray / 60) * (60 - this.timeLeft))
        this.countdownTimer()
      }, 1000)
    }
  }
}
</script>

<style scoped>
  #timer {
    width: 30vw;
    height: 30vw;
    position: relative;
  }

  #seconds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  #seconds p {
    margin: 0;
    height: 30vw;
    width: 30vw;
    text-align: center;
    line-height: 30vw;
    font-size: 10vw;
  }

  #clock {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }

  #clock svg {
    position: relative;
    top: 0;
    left: 0;
    height: 30vw;
    width: 30vw;
  }

  #circle {
    transition: all 1s linear;
  }
</style>
