<template>
  <div id="app">
    <Acronym/>
    <Timer/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Acronym from './components/Acronym.vue'
import Timer from './components/Timer.vue'

@Component({
  components: {
    Acronym,
    Timer
  }
})
export default class App extends Vue {}
</script>

<style>
  #app {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
